
<!DOCTYPE html>
<html lang="en-US">
	<head>
    <meta charset="utf-8">
		<title>Gestion de Resumenes EIS</title>
		<%= stylesheet_link_tag '/assets/application.css' %>
	</head>
	<body>
		<div class="container">
      <div class="masthead">
      	<div class="container">
      	<div class="app-title">
      	<h1>Gestion de Resumenes EIS</h1>
      	</div>
      	<div class="profile"> 
						<% if iniciar_sesion? %>
							<%= alumno_actual.email %>
						<% end %>
				</div>
				</div>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li><%= link_to 'Inicio', url_for(:inicio, :index) %></li>
                <li><%= link_to 'Resumenes', url_for(:resumenes, :latest) %></li>
                
                <% if iniciar_sesion? %>	
                <li><%= link_to 'Alta Alumno', url_for(:alumnos, :nuevo) %></li>

								<% end %>
								<% if iniciar_sesion? %>	
								<li><%= link_to 'Cerrar Sesion', url_for(:sesiones, :cerrar_sesion) %></li>
								<% else%>	
								<li><%= link_to 'Iniciar Sesion', url_for(:sesiones, :iniciar_sesion) %></li>
								<% end %>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <div class="container">
			  <div>
			    <%= [:error, :warning, :success, :notice].map { |type| flash_tag(type, :class => "alert alert-#{type} fade in", :bootstrap => true) }.join.html_safe %>
			  </div>

      	<%= yield %>

      </div>
      <!-- footer -->
      <div class="footer">
      	<hr/>
        <p>Universidad Nacinal de Quilmes | 2013</p>
      </div>

    </div> 

		<%= javascript_include_tag '/assets/application' %> 
		</body>
</html>
